@font-face{
    font-family: 'Brieston';
    src: url('source/font/Brieston.ttf');
}

#lb_levelup, #lb_die, #lb_plusScore{
    -fx-font-size: 90pt;
    -fx-alignment: center;
    -fx-font-family: Brieston;
    -fx-font-weight: bold;
    -fx-text-fill: #80d4ff;
    -fx-padding: 50 0 0 0;
}

#lb_die{
    -fx-text-fill: red;
}

.label .text{
    -fx-stroke-width: 2px;
}

#flowPane{
    -fx-alignment: top-center;
}

#root{
    -fx-background-image: url("source/background_level1.jpg");
    -fx-background-position: center center;
}
#lv1, #lv2, #lv3{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-padding: 10 100 0 10;
}
#gameLevel{
    -fx-alignment: center;
}
#progressGameLevel{
    -fx-accent: #E4F221;
    -fx-text-box-border: black;
    -fx-control-inner-background: black;
}

#progressGameLevel{
    -fx-padding: 10 0 0 5;
}

#gameHeart {
    -fx-padding: 30 0 0 600;
}

#lb_heart{
    -fx-font-weight: bold;
    -fx-font-size: 64;
    -fx-min-width: 100;
    -fx-text-fill: white;
    -fx-content-display: center;
    -fx-background-radius: 10;
    -fx-font-family: Brieston;
}
#lb_plusScore{
    -fx-font-size: 90;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Brieston;
}